name: CI

on: [push, pull_request]

jobs:
  default_tools:
    name: Test default system tools
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-13, macos-14, macos-15 ]

    steps:
    - uses: actions/checkout@v3
    - uses: mlugg/setup-zig@v2
      with:
        version: master
    - run: zig version
    - run: zig fmt --check src 
    - run: zig build test -Dhas-zig -Dhas-objc-msgsend-stubs --summary all
